* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #nav{
    width: 100%;
    color: black;
   /* position: fixed; */
    height: 80px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
      /* padding: 10px;  */
      align-items: center;
    justify-content:end ;
    padding: 15px 20px;
    
    
  }
  
  #nav nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 4%;
    
  }
  
  
  
  #nav nav ul a{
    text-decoration: none;
    color: black;
   
  }
  
  #nav nav ul li{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 25px;
  }
  #nav-links a:hover {
    color: #f39c12;
  }


  #outt{
    border: none;
    background-color: transparent;
    font-size: 23px;
  }
   
body{
    /* background-image: url(https://media.istockphoto.com/id/1066253974/photo/airplane-flight-tropical-vacations.jpg?s=612x612&w=0&k=20&c=fL1ixGnqGVHW2Fph7Gwg0Gt5EmhxiLMDNAAb1ubje_w=) ;
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(45deg, #C9DCE9,#2A63AB
   , #001842);  
    background-size: 200% 200%;
    animation: gradient-shift 5s ease infinite;
}
 @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
   
  
#heading{
    color:#f39c12;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    font-size: 40px;
}

#flight{
    background-color: #f39c12;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
}

#flight1{
  
  border: none;
  background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}

#flight2{
    border: none;
    background-color: transparent;
      font-size: 30px;
      cursor: pointer;
}

#book{
   
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30%;
    /* justify-content: center;
    align-items: center; */
    
}

#city{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    gap: 19%;
}

#from{
    color: #f39c12;
    font-size: 30px;
}

#To{
    color: #f39c12;
    font-size: 30px;
}

#inpdep{
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 85%;
    padding-left: 2%;
}

#inpdes{
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 85%;
    padding-left: 2%;
}

#date{
    display: flex;
    /* padding-left: 29%; */
    flex-direction: row;
    gap: 10%; 
}

#ddate{
    color: #f39c12;
    font-size: 25px;
}

#rdate{
    color: #f39c12;
    font-size: 25px;
}

#class{
    color: #f39c12;
    font-size: 25px;
}

#inpdate{
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    /* padding-right: 95%; */
    padding-left: 3%;
}

#pass{
    display: flex;
  /* padding-left: 29%; */
    flex-direction: row;
   gap: 10%;
}

#passadult{
    color: #f39c12;
    font-size: 25px;
    
}
#inpadult{
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%; 
}

#flightoptions{
    width: 15%;
    height: 15%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
}
#flightoptions:hover{
    background-color:blue;
    color: white;
    }

#flightoptions a{
  text-decoration: none;
  color: black;
}


@media(max-width:450px){

  #nav{
    display: none;
  }

  #city{
    display: flex;
    flex-direction: column;
  }
  #inpdep{
width: 110%;
  }
  #inpdes{
    width: 110%;
  }

  #date{
    display: flex;
    flex-direction: column; 
  }

  #pass{
    display: flex;
    flex-direction: column;
  }

  #inpadult{
    width: 105%;
  }

  #flightoptions{
    width: 45%;
  }
  #flight{
    width: 55%;
    margin-left: 25%;
    margin-top: 2%;
  }
}