body{
    background-image: url(https://www.shutterstock.com/image-photo/plane-flying-pink-sky-sunset-600nw-2347337189.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#nav{
    display: flex;
    flex-direction: row;
    color: white;
}

#nav :hover{
    color: darkblue;
}

/* #i1{
 margin-left:18%;
} */


#c1{
   margin-left: 2%;
  font-size: larger;
  font-size: 55px;
  color:brown;
}

#c2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
