* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nav{
  width: 100%;
  color: black;
 /* position: fixed; */
  height: 80px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
    /* padding: 10px;  */
    align-items: center;
  justify-content:end ;
  padding: 15px 20px;
  
  
}

#nav nav ul{
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 4%;
  
}



#nav nav ul a{
  text-decoration: none;
  color: black;
 
}

#nav nav ul li{
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 25px;
}
#nav-links a:hover {
  color: #f39c12;
}


#outt{
  border: none;
  background-color: transparent;
  font-size: 23px;
}

/* body{
    background-image: url(https://i.pinimg.com/736x/6e/91/cd/6e91cd76d916e56255317d19dbb9a21d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */


/* body {
   
  background: linear-gradient(45deg, #C9DCE9,#2A63AB
  , #001842);  
  

} */
#home1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
   
}

#f{
  color: white;
  font-size: 35px;
  padding-left: 1%;
}
#home2{
    height: 100%;
    width: 100%;
   
      border: #f39c12 5px solid;
  
}

#options{
  display: flex;
  flex-direction: row;
  color: White;
  border: black 1px solid;
  margin-bottom: 5%;
  
  background: linear-gradient(45deg, #102240,#2A63AB
  ,  #C9DCE9);  
   background-size: 200% 200%;
   animation: gradient-shift 5s ease infinite;
}
@keyframes gradient-shift {
   0% {
     background-position: 0% 50%;
   }
   100% {
     background-position: 100% 50%;
   }
 }
  



#option1time{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
  /* border: black 1px solid; */
}

#option1price{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
  /* border: black 1px solid; */
}

#booktick{
  margin-top: 7%;
 height: 10%;
 width: 15%;
  font-size: 20px;
  margin-right: 0.5%;
}

#booktick:hover{

color: blue;
font-size: 25px;
}

#booktick a{
  text-decoration: none;
  color: black;
}

#home3{
    display: flex;
    flex-direction: column;
  margin-top: 15%;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding-left: 4%;
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}



#book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15%;
    width: 15%;
background-color: transparent;
color:white;
font-size: 25px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#book:hover{
    color: blue;
    background-color:white;
}

#book a{
  text-decoration: none;
  height: 15%;
  width: 15%;
}
#inputHome{
    background-color: transparent;
    color: black;
    border: none;
}

#h2{
padding-left: 2%;
  
padding-bottom: 4%;
font-size: 25px;

}

#inc{
  display: flex;
            justify-content: center;
            align-items: center;
          
}


#ins{
  display: flex;
  align-items: center;
}

#blue1 {
  background-color: #00008b;
  color: white;
  padding: 20px;
  width: 50%;
  height:50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

#blue1 p {
  margin: 5px 0;
}

#l {
  font-size: 28px;
  font-weight: bold;
}


#info-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-left: 15px;
}

#info-box {
  width: 130px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  color: #003366;
  border-radius: 10px;
}

#light {
  background-color: #87CEEB;
}

#dark {
  background-color: #ADD8E6;
}





@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.codepen.io/16327/PPMori-Regular.woff) format("woff");
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.codepen.io/16327/PPMori-SemiBold.woff) format("woff");
}

@font-face {
  font-display: block;
  font-family: Fraktion Mono;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.codepen.io/16327/PPFraktionMono-Bold.woff)
    format("woff");
}

:root {
  --color-shockingly-green: #0ae448;
  --color-just-black: #0e100f;
  --color-surface-white: #fffce1;
  --color-pink: #fec5fb;
  --color-shockingly-pink: #f100cb;
  --color-orangey: #ff8709;
  --color-lilac: #9d95ff;
  --color-lt-green: #abff84;
  --color-blue: #00bae2;
  --color-grey: gray;
  --color-surface75: #bbbaa6;
  --color-surface50: #7c7c6f;
  --color-surface25: #42433d;
}

body {
  color: var(--color-surface-white);
  background: linear-gradient(45deg, #C9DCE9,#2A63AB
  , #001842); 
  font-family: Mori, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  line-height: 1.45;
  text-align: center;
}

.group.reorder {
  flex-direction: row;
}

h1 {
  font-weight: 400;
}

.group {
  width: 50%; 
  height: auto;
  margin: 1rem auto;
  padding: 4px;
 border: dashed 2px var(--color-surface-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--color-just-black);
  position: relative;
  border-radius: 10px;
}

.box {
  margin: 4px;
  padding: 8px;
  line-height: 28px;
  border-radius: 10px;
}
.box:nth-child(1) {
  background-color: #bef3fe;
}
.box:nth-child(2) {
   background-color: var(--color-blue);
}
.box:nth-child(3) {
  background-color: var(--color-pink);
}
.box:nth-child(4) {
   background-color: #e1faff;
}
.box:nth-child(5) {
  background-color: var(--color-blue);
}
.box:nth-child(6) {
  background-color: var(--color-pink);
}
button {
  margin: 0 auto;
  display: inline-block;
  outline: none;
  padding: 8px 14px;
  background: var(--dark);
  border: solid 2px var(--color-surface-white);
  color: var(--light);
  text-decoration: none;
  border-radius: 99px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  line-height: 18px;
}

.gsap-logo {
  width: 20vw;
  max-width: 90px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  mix-blend-mode: difference;
  z-index: 9999;
}

img {
  max-width: 100%;
}

@media(max-width:450px){
  
 #home1{
  display: flex;
    flex-direction: column;
   
 }

#inc{
  display: flex;
  flex-direction: column;
}
#ins{
  display: flex;
  flex-direction: column;
}
#info-boxed{
  display: flex;
  flex-direction: column;
}
 #options{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
 
 }

 #option1{
  display: flex;
  flex-direction: row;
  gap: 52px;
  padding-bottom: 10%;
  
 }

 #option1time{
  width: 70%;
  justify-content: left;
  padding-bottom: 5%;
 }

 #option1price{
  
  width: 70%;
  justify-content: left;

}


#option1{
  width: 100%;
}

#home2{
  width: 100%;
}

#nav{
  display: none;
}

#booktick{
  width: 40%;
font-size: 25px;
}

#home3{
padding-bottom: 10%;
}

#book{
  width: 40%;
  font-size: 25px;
}
}










