* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav{
  width: 100%;
  color: black;
 /* position: fixed; */
  height: 80px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
    /* padding: 10px;  */
    align-items: center;
  justify-content:right ;
  padding: 15px 20px;
  
  
}

#nav1{
  width: 100%;
  color: black;
 /* position: fixed; */
  height: 80px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
    /* padding: 10px;  */
    
  
  
  
}


#ii{
text-align: right;

}


#nav nav ul{
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 4%;
  
}



#nav nav ul a{
  text-decoration: none;
  color: black;
 
}

#nav nav ul li{
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 25px;
}
#nav-links a:hover {
  color: #f39c12;
}


#outt{
  border: none;
  background-color: transparent;
  font-size: 23px;
}

body{
   /* background: linear-gradient(45deg, #C9DCE9,#2A63AB
   , #001842);  */
}

#cover{
  background-image: url(https://i.pinimg.com/736x/8c/c1/0e/8cc10e4faf3c387605d21c8ae4a5dc84.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(https://img.freepik.com/free-vector/hand-drawn-travel-background_23-2148051446.jpg?ga=GA1.1.470083696.1732897902&semt=ais_hybrid); */
  /* background: linear-gradient(45deg, #3498db, #e74c3c, #2ecc71); */
  background-image: url(https://img.freepik.com/premium-photo/top-view-no-vacation-concept-with-plane_23-2148580921.jpg?w=1800);
  background-size: 200% 200%;
  animation: gradient-shift 5s ease infinite;

  font-family: "Monomakh", system-ui;
  font-weight: 400;
  font-style: normal;
    height: 600px;
    width: 100%;

  
}
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#fc1{
  /* color:orange ; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 5%;
  padding-left: 2%;
  font-size: 40px;
  font-stretch: expanded;
}

#fc2{
  color:orangered;
  padding-left: 2%;
  font-size: 30px;
}
#fc3{
  padding-left: 2%;
  font-size: 30px;
}


#fc4{
  font-size: large;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  background: #0052D4;
  color: white;
  border-radius: 5px;
}
a{
  text-decoration: none;
  color: white;
}
#fc4 a:hover{
  color: black;
  background-color: white;
 
}

#s{
/*  
  background: linear-gradient(45deg, #3498db, #0a3cd0, #2ecc71); 
 background-size: 200% 200%;
 animation: gradient-shift 5s ease infinite;
}
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  } */
   padding-left: 1%;
}

#q{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding-left: 1%;
  color:orangered;
}

#bk{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 20px;
 
  color: white;
  border-radius: 5px;
}
#bk a{
  text-decoration: none;
  color: black;
}

#bk a:hover{
  
    color: blue;
    background-color: white;
}




/* #q1{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  gap:18%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;

}

#q3{
  
  flex-direction: row;
  width: 18%;
  height: 20%;
  padding-top: 3%;
  gap: 5px;
  margin-bottom: 2%;
  font-size: 25px;
 padding-top: 1%;
} */








/* Swiper2 */



.swiper {
    width: 100%;
    padding-top: 50px;
    /* padding-bottom: 50px; */
   
  }

  

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }




  
  #bg{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqv2ghavSsvp-C_hfxGV6C7iYrH5-2vVCAlg&s); */
  background-repeat: no-repeat;
  background-size: cover;
  }

  #s1{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 38px;
  }

  

#hc2{
  padding-top: 2%;
  padding-bottom: 1%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
  

  
  #ic1{
    position: absolute;
    top: 2%;
    left: 5%; 
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
   color: white;
  }

  #ic2{
    position: absolute;
    top:27%;
    left: 5%; 
    font-size: 25px;
    font-style: italic;
color:whitesmoke;
width: 25%;
  }

  #ic3{
    position: absolute;
    top: 42%;
    left: 5%; 
    font-size: 25px;
    font-style: italic;
    color: white;
    width: 25%;

  }

  #ic4{
    position: absolute;
    top: 65%;
    left: 5%; 
    padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
    font-size: 20px;
    background: #0052D4;
    color: white;
    border-radius: 5px;
  }

  #ic4:hover{
    color: black;
    background-color: white;
   
  }

  #ic5{
    position: absolute;
    top: 2%;
    left: 70%; 
  }


  #A{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYDnxktEinji5BanSBQM28TY1uTj5fEIK-gg&s);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #ac1{
    display: flex;
    justify-content:end ;
    align-items:end;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 
  #ac6{
    display: flex;
    justify-content: center;
  }
  #ac3{
   
    height: 70%;
    width: 90%;
  }

  #acc{
    display: flex;
   
    flex-direction: row;
  }
  
  #ac7{
   padding-left: 5%;
   font-size: 20px;
  }

  

  #ac8{
    display: flex;
   padding-right: 5%;
    top: 1%;
  }

  #ac9{
    
    
    width: 25%;
  }

  #ac10{
  

    width: 25%;
  }

  #ac11{
   
   
   width: 25%;
  }

  #ac12{
   padding-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  #head1{
    display: flex;
    justify-content: center;
    color:orange;
    font-size: 20px;
  }



  #R{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 50px;
    width: 100%;
background-image: url(https://static.vecteezy.com/system/resources/previews/017/379/835/non_2x/customer-review-satisfaction-feedback-survey-concept-user-give-rating-to-service-experience-on-online-application-customer-can-evaluate-quality-of-service-leading-to-reputation-ranking-of-business-photo.jpg);
background-repeat: no-repeat;
background-size: cover;
color: white;

  }


  #rr{
    display: flex;
    justify-content:end ;
    align-items:end;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
/* SWIPER FOR REVIEWS  */

  .swiper1 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }




  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }


  #i1{
    
      position: absolute;
      bottom: 30px;
      left: 15px;
  color: white;
  font-size:xx-large;
  }

  #i2{
    position: absolute;
    top: 90%;
    left: 30%;
    padding-left: 2%;
    padding-right: 2%;
color:white;
background-color: transparent;
font-size:25px;
border: none;
  }


#i2 a{
  text-decoration: none;
  color: white;
  background-color: transparent;
}


#i2 a:hover{
  text-decoration: none;
  color: white;
  background-color: blue;
}


  #space{
    display: flex;
    gap: 12%;
    font-size: 25px;
  
  }

  #click{
    height: 100%;
    width: 100%;
    font-size: 25px;
    background: #0052D4;
    color: white;
    border-radius: 5px;
  }

  #click:hover{
    color: black;
    background-color: white;
   
  }

  #india1{
    color:orangered;
    font-size: 35px;
  }

  #World1{
    color:orangered;
    font-size: 35px; 
  }


  #iw1:hover{
transform: scale(1.5);
overflow: hidden;
  }

  #iw1:hover{
    transform: scale(1.5);
    overflow: hidden;
      }
      #iw2:hover{
        transform: scale(1.5);
        overflow: hidden;
          }
          #iw3:hover{
            transform: scale(1.5);
            overflow: hidden;
              }
              #iw4:hover{
                transform: scale(1.5);
                overflow: hidden;
}
#iw5:hover{
transform: scale(1.5);
overflow: hidden;
 }
  




 footer {
  background: linear-gradient(45deg, #C9DCE9,#2A63AB
  , #001842);  
   background-size: 200% 200%;
   animation: gradient-shift 5s ease infinite;

  color: white;
  text-align: center;
  padding: 20px 0;
  height: 40%;
}


@keyframes gradient-shift {
   0% {
     background-position: 0% 50%;
   }
   100% {
     background-position: 100% 50%;
   }
  }
.footer-logo{
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  
}
.footer-logo span{
  color: orange;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
}
.footer-links a, .footer-social a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
  /* font-family: "Grechen Fuemen", serif; */
  /* font-weight: bold; */
  font-style: normal;


}
.footer-social a i {
  font-size: 25px;
}
.footer-links a:hover, .footer-social a:hover {
  color: orange;
}
.footer-copy{
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
}



@media(max-width:450px){

  #nav{
    display: none;
  }

#cover{
  height: 30%;
}

#fc1{
padding-left:1% ;
 font-size: 20px;

}

#ic5{
  display: none;
}
#im{
  width: 100%;
}

#ac12{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#ac9{
width: 100%;
font-size: 20px;
}
#ac10{
  width: 100%;
  font-size: 20px;
  }
  #ac11{
    width: 100%;
    font-size: 20px;
    } 

#head1{
  font-size: 25px;
}

#footer{
  height: 100%;
}

#ic4{
  display: none;
}
#ic3{
  display: none;
}
}