#first{
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqv2ghavSsvp-C_hfxGV6C7iYrH5-2vVCAlg&s);
  background-repeat: no-repeat;
  background-size: cover; */
}

#fc1{
  position: absolute;
  top: 5%;
 /* left: 40%; */
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
 color: white;
}

#fc2{
  position: absolute;
  top: 25%;
 /* left: 35%; */
  font-size: 25px;
  width: 40%;
  font-style: italic;
 color: blue;
}

#fc3{
  position: absolute;
  top:35%;
 /* left: 45%; */
  font-size: 20px;
gap: 70px;

}



/* Swiper2 */



.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }




  
  #bg{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqv2ghavSsvp-C_hfxGV6C7iYrH5-2vVCAlg&s); */
  background-repeat: no-repeat;
  background-size: cover;
  }

  #s1{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
  }

#hc2{
  padding-top: 2%;
  padding-bottom: 1%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
  #k{
    /* background-image: url(https://i.pinimg.com/474x/ce/b7/12/ceb71218d61c6a08028bac7e693b0283.jpg); */
    /* padding-top: 35%;
    background-repeat: no-repeat;
    background-size: cover; */
    
  }

  
  #ic1{
    position: absolute;
    top: 2%;
    left: 5%; 
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
   color: white;
  }

  #ic2{
    position: absolute;
    top:27%;
    left: 5%; 
    font-size: 25px;
    font-style: italic;
color:whitesmoke;
width: 25%;
  }

  #ic3{
    position: absolute;
    top: 42%;
    left: 5%; 
    font-size: 25px;
    font-style: italic;
    color: white;
    width: 25%;

  }

  #ic4{
    position: absolute;
    top: 65%;
    left: 5%; 
  }

  #ic5{
    position: absolute;
    top: 2%;
    left: 70%; 
  }


  #A{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYDnxktEinji5BanSBQM28TY1uTj5fEIK-gg&s);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #ac1{
    display: flex;
    justify-content:end ;
    align-items:end;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 
  #ac6{
    display: flex;
    justify-content: center;
  }
  #ac3{
   
    height: 70%;
    width: 90%;
  }

  #acc{
    display: flex;
   
    flex-direction: row;
  }
  #ac4{
   
   /* width: 50%; */
  }
  #ac7{
   padding-left: 5%;
   font-size: 20px;
  }

  

  #ac8{
    display: flex;
   padding-right: 5%;
    top: 1%;
  }

  #ac9{
    
    
    width: 25%;
  }

  #ac10{
  

    width: 25%;
  }

  #ac11{
   
   
   width: 25%;
  }

  #ac12{
   padding-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  #head1{
    display: flex;
    justify-content: center;
    color:orange;
    font-size: 20px;
  }



  #R{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 50px;
    width: 100%;
background-image: url(https://static.vecteezy.com/system/resources/previews/017/379/835/non_2x/customer-review-satisfaction-feedback-survey-concept-user-give-rating-to-service-experience-on-online-application-customer-can-evaluate-quality-of-service-leading-to-reputation-ranking-of-business-photo.jpg);
background-repeat: no-repeat;
background-size: cover;
color: white;

  }


  #rr{
    display: flex;
    justify-content:end ;
    align-items:end;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
/* SWIPER FOR REVIEWS  */

  .swiper1 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }