* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
   background-image: url(bg1.webp);
   background-repeat: no-repeat;
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: Arial, sans-serif;

}


.c{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;

}
.c1 {
    width: 300px;
    border-radius: 15px;
    
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.login {
    background: url('https://source.unsplash.com/300x500/?airplane') ;
    padding: 20px;
    color: #0052D4;
    text-align: center;
}

 #lognum {
    width: 100%;
    padding: 10px;
    margin: 10px ;
    
    border-radius: 5px;
}

#logpass {
    width: 100%;
    padding: 10px;
    margin: 10px ;
 
    border-radius: 5px;
}
.login #b {
    width: 100%;
    padding: 10px;
    background: #0052D4;
    color: white;
    border-radius: 5px;
}

#c4{
color: white;
}

    #c4:hover{
        color:blue;
        }

