body{
    background-image: url(https://airindia.scene7.com/is/image/airindia/17);
    background-size: cover;
background-repeat: no-repeat;
}
#f{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     */
   
}

    #d1{
        display: flex; 
        justify-content: center;
        align-items: center;
        padding-top: 14%;
        gap: 12px;
         flex-direction: column;
    }


    #b{
        margin-left: 2%;
    }

    #b:hover{
       /* background-color: black;
       color: white; */
       background-color: darkgray;
    }

   #c4:hover{
color:blue;
   }